.scale {
    transition: 1s; /* Время эффекта */
   }
 .scale:hover {
    transform: scale(1.3); /* Увеличиваем масштаб */
   }
h1{
  font-family: 'Girassol', cursive;
  color:#2e005c;
  font-size: 40px;
}
